.walls-input {
  border: 3px solid black;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  width: 50%;
}

.walls-input label {
  margin-right: 1rem;
}

.walls-input button {
  color: #fff;
  background-color: #f4901d;
  border-radius: 0.7rem;
  padding: 0.6rem 1.2rem;
}